Instanoid.config do
  client_id     "instagram api client id"
  client_secret "instagram api client secret"
  tag           "tag to search"
  printer       "printer name"
  renderer      Hash[
                  :output => "temp-file-name",
                  :template => lambda { |pdf, data|
                    # prawn logic
                    # access entry var through data
                  }
                ]
end
